<!doctype html>
<html lang="fr">

<head>
	<title>Titre de la page</title>
</head>


<body>
    <h1>Liste des films produit par : {{ nom }}</h1>
    <table>

		<tr>
			<th>Titre</th>
		</tr>
		
		{% for i in films_dir.index: %}
        <tr>
            <td>{{ films_dir.iloc[i]['title'] }}</td>
        </tr>
		{% endfor %}
       
    </table>
	
	<img src="categorie.png" alt="Catégorie" />
	
	<footer> 
	{{ time_stamp }}
	</footer> 

</body>
</html>


